.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

html,body {
    margin: 0;
    padding: 0;
    line-height: 140%;
    font-family: Arial;
    font-size: 12px;
    position: relative;
}